<header class="sticky top-0 z-10">
  <nav id="navbar"
    class="flex items-center justify-between h-20 px-6 md:px-12 py-2 backdrop-blur-md bg-slate-800/90 shadow-md rounded-b-lg">

    <!-- Logo -->
    <div class="logo-container h-16 w-24 md:w-36 flex-shrink-0">
      <a href="/" class="block w-full h-full">
        <img src="/img/logo.png" class="w-full h-full object-contain" alt="logoSushiABD" />
      </a>
    </div>

  </nav>
</header>